/* General navbar styling */
.navbar {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  color: #ffffff;
}

.navbarbottom {
  display: flex;
  padding: 20px 10px;
  background-color: #000000;
  justify-content: center;
}

.navbarbottom ul {
  display: flex;
  font-weight: 600;
  list-style-type: none;
  gap: 70px;
  font-size: 16px;
}

.navbarbottom ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbarbottom ul li:hover {
  color: #db291c;
  transform: scale(1.1);
}

.navbarmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 10px;
}

.navbarleft,
.navbarcenter,
.navbarright {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbarmain img {
  height: 60px;
  border-radius: 5px;
}

.navbarright ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}

.navbarright ul li {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.navbarright ul li:hover {
  color: #db291c;
  transform: scale(1.1);
}

.navbarright ul li .dropdown-content {
  display: none;

  position: absolute;
  top: 100%;
  padding: 30px 0px 10px;
  left: -125px;
  background-color: #141414;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 350px;
}

.navbarright ul li .dropdown-content ul {
  list-style: none;
  color: #ffffff;
  gap: 0px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.navbarright ul li .dropdown-content ul li {
  padding: 8px 12px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbarright ul li .dropdown-content ul li:hover {
  background-color: #000000;
  color: #db291c;
  transform: scale(1);
}

.navbarright ul li:hover .dropdown-content {
  display: block;
}

.navbarright ul li:hover .dropdown-content,
.navbarright ul li .dropdown-content:hover {
  display: block;
}

.navbarright button {
  background-color: #db291c;
  color: #ffffff;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 13px 40px;
  border-radius: 20px;
}

.navbarmobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbarmain {
    padding: 20px 10px;
  }

  .navbarright ul {
    display: none;
  }

  .navbarmobile {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .navbarmobile img {
    height: 40px;
  }

  .navbarbottom ul {
    width: 100%;
    gap: 0px;
    justify-content: space-around;
  }
}
