.navbar {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  color: #ffffff;
}

.navbarbottom {
  display: flex;
  padding: 20px 10px;
  background-color: #000000;
  justify-content: center;
}
.navbarbottom ul {
  display: flex;
  font-weight: 600;
  list-style-type: none;
  gap: 70px;
  font-size: 16px;
}
.navbarbottom ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbarbottom ul li:hover {
  color: #db291c;
  transform: scale(1.1);
}
.navbarmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 10px;
}
.navbarleft,
.navbarcenter,
.navbarright {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbarmain img {
  height: 60px;
  border-radius: 5px;
}
.navbarright ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}

.navbarright ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbarright ul li:hover {
  color: #db291c;
  transform: scale(1.1);
}

.navbarcenter ul li.active {
  color: #db291c;
  transform: scale(1.1);
}
.navbarright button {
  background-color: #db291c;
  color: #ffffff;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 13px 40px;
  border-radius: 20px;
}
.navbarmobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .navbarmain {
    padding: 20px 10px;
  }
  .navbarright ul {
    display: none;
  }
  .navbarmobile {
    display: flex;

    align-items: center;
    padding: 10px;
  }
  .navbarmobile img {
    height: 40px;
  }
  .navbarbottom ul {
    width: 100%;
    gap: 0px;
    justify-content: space-around;
  }
}
